.btn {
    font-size: 15px;
    font-weight: 500;
    color: $white-color;
    background-color: $gold-color;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color .5s;
    font-family: 'Montserrat', sans-serif;

    &:hover {
        background-color: rgba(179, 138, 76, .5);
    }
}