.btn {
    font-size: 17px;
    font-weight: 300;
    color: $white-color;
    background-color: $gold-color;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color .5s;

    &:hover {
        background-color: rgba(179, 138, 76, .5);
    }
}