.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background-color: $white-color;
}

.header__container {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

header__links {
    display: flex;
}

.header__nav {
    margin-left: auto;
}