.socials {
    display: flex;
}

.socials__item {
    display: flex;
    width: 15px;
    height: 15px;

    &:first-child {
        margin-right: 12px;
    }
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials__icon {
    width: 100%;
    height: 100%;
    fill: $black-color;
}